/* Marcos Caraduje Martínes - UO270285*/

/* Especificidad 001*/
body {
    background-color: #f5f5dc;
    color: #990000;
    font-family: Arial, Helvetica, sans-serif;
}

/* Especificidad 001*/
h1{
    font-size: xx-large;
    font: bolder;
}

/* Especificidad 001*/
h2 {
    font:oblique;

}

/* Especificidad 001*/
a {
    font: italic;
}

/* Especificidad 001*/
ul {

    font: bold;
    
}



